<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us</h1>
  <p>The setting up of the Public Health Foundation of India presents a unique opportunity to develop innovative models of public-private partnership in major social sector programmes. Such partnership can help blend the commitment of government with the operational efficiency of not-for-profit private groups.</p></div>

<h2 style="text-align:center">Developer</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://scontent.fccu3-1.fna.fbcdn.net/v/t1.6435-9/s720x720/46094243_570066846732184_8911182250066837504_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=e3f864&_nc_ohc=dYTZ_5U60tAAX9qnX_J&_nc_ht=scontent.fccu3-1.fna&oh=1ef09c000bc489d1c739bbf28a8fcde2&oe=60FC2828" height="470px" width="570px" >
      <div class="container">
        <h2>Sanjugh Guha Thakurata</h2>
        <p class="title">CEO & Founder</p>
        <p>Focused & Determined </p>
        <p>guhathakuratasanjugh@gmail.com</p>
        <p>Contact-(+91)9674580163</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7376.844431229923!2d88.4167340953827!3d22.413128967336313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a026df253499bdf%3A0x2e983a3b5523c078!2sHaraharitala!5e0!3m2!1sen!2sin!4v1623946015638!5m2!1sen!2sin" width="900" height="471" style="border: 2px;" allowfullscreen="" loading="lazy"></iframe>
    
      <div class="container">
        <p><b><i>Address-Haraharitala,Rajpur, Subhasgram, Kolkata-700149</i></b></p>
        
      </div>
    </div>
  </div>

</body>
</html>
