<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: rgb(230, 30, 30);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  transition: 3s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body>

<h2 style="font-size:35px;"><center>Frequently Asked Questions Related to Covid 19</center></h2>
<hr>
<button class="accordion">What is Covid 19 ?</button>
<div class="panel">
    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202104/Screenshot_2021-04-28_at_4.57._1200x768.png?J7V0BrDm2ohcksra07dlHEYojMKjZoS_&size=770:433" height="470px" width="590px">
     <h4>COVID-19 is the disease caused by a new coronavirus called SARS-CoV-2.  WHO first learned of this new virus on 31 December 2019, following a report of a cluster of cases of ‘viral pneumonia’ in Wuhan, People’s Republic of China.A deadly wave of COVID-19 is overwhelming India: New cases have hit 400,000+ per day, and more than 215,000 people have lost their lives.

The health system is buckling under demand, but we’re helping families reach vaccinations as we work in close contact with health workers who need masks, COVID-19 test kits, and disinfectant to save lives and stay safe.

Our work in India — and the 20+ countries we serve — will not be over until these nations have resilient health systems that can serve their populations, in times of crisis and every day after.

Your recurring gift, started now, will go straight toward this work, first in India, then across the world.The chances of any of these side effects following vaccination differ according to the specific COVID-19 vaccine.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints..Some people who have had COVID-19, whether they have needed hospitalization or not, continue to experience symptoms, including fatigue, respiratory and neurological symptoms. WHO is working with our Global Technical Network for Clinical Management of COVID-19, researchers and patient groups around the world to design and carry out studies of patients beyond the initial acute course of illness to understand the proportion of patients who have long term effects, how long they persist, and why they occur. These studies will be used to develop further guidance for patient care.The most common side effects include a sore arm, fatigue (feeling tired), headache, aches, and fever. Side effects are a good sign — they indicate that the vaccine is working by triggering the immune system. Severe side effects are rare and treatable.The risk of catching the COVID-19 virus from the faeces of an infected person appears to be low.

There is some evidence that the COVID-19 virus may lead to intestinal infection and be present in faeces. Approximately 2−10% of cases of confirmed COVID-19 disease presented with diarrhoea (2−4), and two studies detected COVID-19 viral RNA fragments in the faecal matter of COVID-19 patients (5,6).

However, to date only one study has cultured the COVID-19 virus from a single stool specimen (7). There have been no reports of faecal−oral transmission of the COVID-19 virus.</h4>
</div>

<button class="accordion">Symptoms of Covid?</button>
<div class="panel">
     <img src="https://www.sharp.com/health-news/images/Top-5-Symptoms-of-COVID-19-HN2387-iStock-1217199413-Sized.png" height="470px" width="590px">
<h4>The most common symptoms of COVID-19 are

<li>Fever</li>
<li>Dry cough</li>
<li>Fatigue</li>
Other symptoms that are less common and may affect some patients include:

<li>Loss of taste or smell,</li>
<li>Nasal congestion,</li>
<li>Conjunctivitis (also known as red eyes)</li>
<li>Sore throat,</li>
<li>Headache,</li>
<li>Muscle or joint pain,</li>
<li>Different types of skin rash,</li>
<li>Nausea or vomiting,</li>
<li>Diarrhea,</li>
<li>Chills or dizziness.</li>
 

Symptoms of severe COVID‐19 disease include:

Shortness of breath,
Loss of appetite,
Confusion,
Persistent pain or pressure in the chest,
High temperature (above 38 °C).
Other less common symptoms are:

Irritability,
Confusion,
Reduced consciousness (sometimes associated with seizures),
Anxiety,
Depression,
Sleep disorders,
The chances of any of these side effects following vaccination differ according to the specific COVID-19 vaccine.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints..Some people who have had COVID-19, whether they have needed hospitalization or not, continue to experience symptoms, including fatigue, respiratory and neurological symptoms. WHO is working with our Global Technical Network for Clinical Management of COVID-19, researchers and patient groups around the world to design and carry out studies of patients beyond the initial acute course of illness to understand the proportion of patients who have long term effects, how long they persist, and why they occur. These studies will be used to develop further guidance for patient care.
More severe and rare neurological complications such as strokes, brain inflammation, delirium and nerve damage.
People of all ages who experience fever and/or cough associated with difficulty breathing or shortness of breath, chest pain or pressure, or loss of speech or movement should seek medical care immediately. If possible, call your health care provider, hotline or health facility first, so you can be directed to the right clinic.</h4></div>

<button class="accordion">What happens to people who get covid 19?</button>
<div class="panel">
<img src="https://media.istockphoto.com/vectors/coronavirus-disease-covid19-2019ncov-symptoms-outline-infographics-vector-id1255800823?k=6&m=1255800823&s=612x612&w=0&h=K4GDVxqU4dwcz4HW6jV7UK4FNdhxIXez3TTpGIE528E=" height="470px" width="590px">

  <h4>The chances of any of these side effects following vaccination differ according to the specific COVID-19 vaccine.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints..Some people who have had COVID-19, whether they have needed hospitalization or not, continue to experience symptoms, including fatigue, respiratory and neurological symptoms. WHO is working with our Global Technical Network for Clinical Management of COVID-19, researchers and patient groups around the world to design and carry out studies of patients beyond the initial acute course of illness to understand the proportion of patients who have long term effects, how long they persist, and why they occur. These studies will be used to develop further guidance for patient care..Among those who develop symptoms, most (about 80%) recover from the disease without needing hospital treatment. About 15% become seriously ill and require oxygen and 5% become critically ill and need intensive care.

Complications leading to death may include respiratory failure, acute respiratory distress syndrome (ARDS), sepsis and septic shock, thromboembolism, and/or multiorgan failure, including injury of the heart, liver or kidneys.

In rare situations, children can develop a severe inflammatory syndrome a few weeks after infection. </h4>
</div>
<button class="accordion">Are there long term effects of covid 19?</button>
<div class="panel">
<img src="https://cms.wellcome.org/sites/default/files/styles/image_card_hi/public/2021-04/covid-social-economic-impacts-education.png?itok=jVWBaF2A" height="470px" width="590px">

  <h4>The lungs are the organs most affected by COVID-19 because the virus accesses host cells via the receptor for the enzyme angiotensin-converting enzyme 2 (ACE2), which is most abundant on the surface of type II alveolar cells of the lungs.Reported side effects to COVID-19 vaccines have mostly been mild to moderate and short-lasting. They include: fever, fatigue, headache, muscle pain, chills, diarrhoea, and pain at the injection site. The chances of any of these side effects following vaccination differ according to the specific COVID-19 vaccine.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints..Some people who have had COVID-19, whether they have needed hospitalization or not, continue to experience symptoms, including fatigue, respiratory and neurological symptoms.

WHO is working with our Global Technical Network for Clinical Management of COVID-19, researchers and patient groups around the world to design and carry out studies of patients beyond the initial acute course of illness to understand the proportion of patients who have long term effects, how long they persist, and why they occur.  These studies will be used to develop further guidance for patient care.  </h4>
</div>
<button class="accordion">Is there a vaccine for covid?</button>
<div class="panel">
<img src="https://bsmedia.business-standard.com/_media/bs/img/article/2021-06/07/full/1623007585-2208.jpg" height="470px" width="590px">

  <h4>Yes. The first mass vaccination programme started in early December 2020 and the number of vaccination doses administered is updated on a daily basis here. At least 13 different vaccines (across 4 platforms) have been administered. Campaigns have started in 206 economies.

The Pfizer/BioNtech Comirnaty vaccine was listed for WHO Emergency Use Listing (EUL) on 31 December 2020. The SII/Covishield and AstraZeneca/AZD1222 vaccines (developed by AstraZeneca/Oxford and manufactured by the Serum Institute of India and SK Bio respectively) were given EUL on 16 February. The Janssen/Ad26.COV 2.S developed by Johnson & Johnson, was listed for EUL on 12 March 2021. The Moderna COVID-19 vaccine (mRNA 1273) was listed for EUL on 30 April 2021 and the Sinopharm COVID-19 vaccine was listed for EUL on 7 May 2021. The Sinopharm vaccine is produced by Beijing Bio-Institute of Biological Products Co Ltd, subsidiary of China National Biotec Group (CNBG).

For further information, see here.If someone is unlucky to get Covid after having been vaccinated and you can still, in some cases, get Covid after you get vaccinated, even though your chances seem to be lower, it is likely you will experience a much milder disease.GENEVA, July 13 (Reuters) - The World Health Organization's chief scientist has advised individualsagainst mixing and matching COVID-19 vaccines from different manufacturers, saying such decisions should be left to public health authorities.Fact: Water or swimming does not transmit the COVID-19 virus
The COVID-19 virus does not transmit through water while swimming. However, the virus spreads between people when someone has close contact with an infected person.

Once vaccines are demonstrated to be safe and efficacious, they must be approved by national regulators, manufactured to exacting standards, and distributed. WHO is working with partners around the world to help coordinate key steps in this process, including to facilitate equitable access to safe and effective COVID-19 vaccines for the billions of people who will need them. More information about COVID-19 vaccine development is available here.</h4></div>


<button class="accordion">What should I do if I have covid19 symptoms?</button>
<div class="panel">
<img src="https://imgk.timesnownews.com/story/Symptoms_of_COVID_corrected_new_strain_old_strain_graphics.jpg?tr=w-600,h-450" height="470px" width="590px">
<h4>If you have any symptoms suggestive of COVID-19, call your health care provider or COVID-19 hotline for instructions and find out when and where to get a test, stay at home for 14 days away from others and monitor your health.

If you have shortness of breath or pain or pressure in the chest, seek medical attention at a health facility immediately. Call your health care provider or hotline in advance for direction to the right health facility.

If you live in an area with malaria or dengue fever, seek medical care if you have a fever.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints.

If local guidance recommends visiting a medical centre for testing, assessment or isolation, wear a medical mask while travelling to and from the facility and during medical care. Also keep at least a 1-metre distance from other people and avoid touching surfaces with your hands.  This applies to adults and children.</h4></div>
<button class="accordion">Is there any treatments for covid?</button>
<div class="panel">
<img src="https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/antibiotics_1280p.jpg?itok=msPI6jy8" height="470px" width="590px">
<h4> Scientists around the world are working to find and develop treatments for COVID-19.

Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill.

Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness. Read our dexamethasone Q&A for more information.  

Results from the WHO’s Solidarity Trial indicated that remdesivir, hydroxychloroquine, lopinavir/ritonavir and interferon regimens appear to have little or no effect on 28-day mortality or the in-hospital course of COVID-19 among hospitalized patients.

Hydroxychloroquine has not been shown to offer any benefit for treatment of COVID-19. Self-care
Asymptomatic cases, mild cases of COVID-19:
Isolate yourself in a well ventilated room.
Use a triple layer medical mask, discard mask after 8 hours of use or earlier if they become wet or visibly soiled. In the event of a caregiver entering the room, both caregiver and patient may consider using N 95 mask.
Mask should be discarded only after disinfecting it with 1% Sodium Hypochlorite.
Take rest and drink a lot of fluids to maintain adequate hydration.
Follow respiratory etiquettes at all times.
Frequent hand washing with soap and water for at least 40 seconds or clean with alcohol-based sanitizer.
Don’t share personal items with other people in the household.
Ensure cleaning of surfaces in the room that are touched often (tabletops, doorknobs, handles, etc.) with 1% hypochlorite solution.
Monitor temperature daily.
Monitor oxygen saturation with a pulse oximeter daily.
Connect with the treating physician promptly if any deterioration of symptoms is noticed.
Instructions for caregivers:
Mask: The caregiver should wear a triple layer medical mask. N95 mask may be considered when in the same room with the ill person.
Hand hygiene: Hand hygiene must be ensured following contact with ill person or patient’s immediate environment.
Exposure to patient/patient’s environment: Avoid direct contact with body fluids of the patient, particularly oral or respiratory secretions. Use disposable gloves while handling the patient. Perform hand hygiene before and after removing gloves..Read our hydroxychloroquine Q&A for more information.

WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19. WHO is coordinating efforts to develop treatments for COVID-19 and will continue to provide new information as it becomes available.</h4>
 </div>

<button class="accordion">What should I do if I have covid19 symptoms?</button>
<div class="panel">
<img src="https://imgk.timesnownews.com/story/Symptoms_of_COVID_corrected_new_strain_old_strain_graphics.jpg?tr=w-600,h-450" height="470px" width="590px">
<h4>If you have any symptoms suggestive of COVID-19, call your health care provider or COVID-19 hotline for instructions and find out when and where to get a test, stay at home for 14 days away from others and monitor your health.

If you have shortness of breath or pain or pressure in the chest, seek medical attention at a health facility immediately. Call your health care provider or hotline in advance for direction to the right health facility.

If you live in an area with malaria or dengue fever, seek medical care if you have a fever.The most common ones were fatigue, worsening symptoms after physical or mental exertion, and brain fog. Some other more uncommon symptoms included visual hallucinations, itchy skin, shingles, blurred vision and tinnitus. The study didn't look at how long, long COVID lasts, but there were some hints.

If local guidance recommends visiting a medical centre for testing, assessment or isolation, wear a medical mask while travelling to and from the facility and during medical care. Also keep at least a 1-metre distance from other people and avoid touching surfaces with your hands.  This applies to adults and children.</h4></div>
<button class="accordion">Is there any treatments for covid?</button>
<div class="panel">
<img src="https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/antibiotics_1280p.jpg?itok=msPI6jy8" height="470px" width="590px">
<h4> Scientists around the world are working to find and develop treatments for COVID-19.

Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill.

Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness. Read our dexamethasone Q&A for more information.  

Results from the WHO’s Solidarity Trial indicated that remdesivir, hydroxychloroquine, lopinavir/ritonavir and interferon regimens appear to have little or no effect on 28-day mortality or the in-hospital course of COVID-19 among hospitalized patients.

Hydroxychloroquine has not been shown to offer any benefit for treatment of COVID-19. Self-care
Asymptomatic cases, mild cases of COVID-19:
Isolate yourself in a well ventilated room.
Use a triple layer medical mask, discard mask after 8 hours of use or earlier if they become wet or visibly soiled. In the event of a caregiver entering the room, both caregiver and patient may consider using N 95 mask.
Mask should be discarded only after disinfecting it with 1% Sodium Hypochlorite.
Take rest and drink a lot of fluids to maintain adequate hydration.
Follow respiratory etiquettes at all times.
Frequent hand washing with soap and water for at least 40 seconds or clean with alcohol-based sanitizer.
Don’t share personal items with other people in the household.
Ensure cleaning of surfaces in the room that are touched often (tabletops, doorknobs, handles, etc.) with 1% hypochlorite solution.
Monitor temperature daily.
Monitor oxygen saturation with a pulse oximeter daily.
Connect with the treating physician promptly if any deterioration of symptoms is noticed.
Instructions for caregivers:
Mask: The caregiver should wear a triple layer medical mask. N95 mask may be considered when in the same room with the ill person.
Hand hygiene: Hand hygiene must be ensured following contact with ill person or patient’s immediate environment.
Exposure to patient/patient’s environment: Avoid direct contact with body fluids of the patient, particularly oral or respiratory secretions. Use disposable gloves while handling the patient. Perform hand hygiene before and after removing gloves..Read our hydroxychloroquine Q&A for more information.

WHO does not recommend self-medication with any medicines, including antibiotics, as a prevention or cure for COVID-19. WHO is coordinating efforts to develop treatments for COVID-19 and will continue to provide new information as it becomes available.</h4>
 </div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</body>
</html>
