<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
  <center> <h2><b>Overview-Pandemic 19</b></h2></center>
  
     <div class="alert alert-primary" role="alert">
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
         <img src ="https://static.toiimg.com/photo/imgsize-50783,msid-81120323/81120323.jpg" height="400px" width="600px">
      <div class="card-body">
        <h5 class="card-title">Testing</h5>
        <p class="card-text">Contact your healthcare provider or visit your state, tribal, localexternal icon, and territorial health department’s website to find the latest local information on testing. The type of viral COVID-19 tests offered may differ by location.
You and your healthcare provider might also consider either an at-home collection kit or an at-home test if you have signs and symptoms of COVID-19 and if you can’t get tested by a healthcare provider or public health official.</p>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <img src ="https://api.time.com/wp-content/uploads/2020/04/FAQs_SymptomsR1_noText.jpg?quality=85" height="400px" width="600px">
      <div class="card-body">
        <h5 class="card-title">Symptoms</h5>
        <p class="card-text">Most common symptoms:
fever
dry cough
tiredness
Less common symptoms:
aches and pains
sore throat
diarrhoea
conjunctivitis
headache
loss of taste or smell
a rash on skin, or discolouration of fingers or toes
Serious symptoms:
difficulty breathing or shortness of breath
chest pain or pressure
loss of speech or movement.Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.
People with mild symptoms who are otherwise healthy should manage their symptoms at home.
</p>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <img src ="https://www.gavi.org/sites/default/files/covid/shutterstock_1896381730-hf-grey.jpg" height="400px" width="600px">
      <div class="card-body">
        <h5 class="card-title">Vaccination</h5>
        <p class="card-text">If someone is unlucky to get Covid after having been vaccinated and you can still, in some cases, get Covid after you get vaccinated, even though your chances seem to be lower, it is likely you will experience a much milder disease.System will show the vaccine being administered in each vaccination centre at the time of scheduling an appointment. Citizen can choose the vaccination centre as per their choice of vaccine being administered However, the choice will not be available at the Government facilities</p>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/your-vaccination.html" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <img src ="https://5.imimg.com/data5/QF/FT/RZ/SELLER-91807568/covid-19-prevention-sign-poster-500x500.jpg" height="400px" width="600px">
      <div class="card-body">
        <h5 class="card-title">Prevention</h5>
        <p class="card-text">Understand Different Ways To Keep Yourself and Your Family Protected From Covid 19. Covid Prevention Guidelines By Government. Click Now For More Information. Government Approved. Reliable Information. Trusted Safety Steps. Covid Prevention Steps.Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.</p>
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</body>
</html>