<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Resources</h4><hr>
  <p>The objective of this page is to help people gain access to vital resources by sharing information only. However, we request the beneficiaries to use their discretion and verify the leads on their own before taking any action. If you find inaccurate information or any lead engaging in illegal practices, kindly inform us at hello@covid19india.org. We will take it down as soon as possible. We will not be responsible for the actions you take using the information on this page. We are just mediating information and are no way responsible for what is being shared. Please avoid sharing and contacting black market resources. We strongly encourage to AVOID black market.</p> <hr>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://resources-covid.infinityfreeapp.com" class="link-primary">https://resources-covid.infinityfreeapp.com</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit?usp=drivesdk" class="link-primary">https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit?usp=drivesdk</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit?usp=drivesdk" class="link-primary">https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit?usp=drivesdk</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://resources-covid.infinityfreeapp.com" class="link-primary">https://resources-covid.infinityfreeapp.com</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://life.coronasafe.network/</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://resources-covid.infinityfreeapp.com</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://drive.google.com/drive/u/0/mobile/folders/1y8fjrbdGEGmcStkNE_Jf5sNRaDCY4zRA</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://resources-covid.infinityfreeapp.com</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://resources-covid.infinityfreeapp.com</a>
<br>
  <p class="mb-0">Independent aggregator - Pan India
      <a href="https://life.coronasafe.network/" class="link-primary">https://docs.google.com/spreadsheets/d/1nHZ-UnRsKbkccAsgTmZvdyAuqrG3QsUWeTrnIuIKnII/edit?usp=drivesdk</a>
<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 <h4 class="alert-heading">Health and Safety Measures for Police Personnel on COVID-19</h4><hr>
 <div class="container">
  <div class="row">
       <div class="col">
      <img src ="https://phfi.org/wp-content/uploads/2020/06/Training-Manual-COVID-19_BPSPA.jpg " height="470px" width="570px">
    </div>
    <div class="col">
     <p>The document is prepared by the Training Division of Public Health Foundation of India (PHFI) for Biju Patnaik State Police Academy, Bhubaneswar, Odisha which outlines the hazards associated with policing duty, the risks involved and the risk mitigation measures that should be followed to protect police personnel against COVID- 19.

This document has been prepared with the information collected and collated from various guidelines issued by national and international agencies such as World Health Organization (WHO), Ministry of Health and Family Welfare (MoHFW), Ministry of Home Affairs (MHA), Indian Council of Medical Research (ICMR), All India Institute Of Medical Sciences (AIIMS), Centers for Disease Control and Prevention (CDC), Commonwealth Human Rights Initiative (CHRI), International Association of Chiefs of Police (IACP) and from published literature. As with all guidelines, during the COVID Pandemic, this also has to be considered a dynamic one and may need changes as per the behavior of the pandemic, health care and law enforcement resources and governmental notifications.Public Health Foundation of India (PHFI) with Global Insurance Brokers Private Limited, has come out with a ‘Health and Safety Handbook for the Workplace – An employer’s guide for post-lockdown operations in non-healthcare settings’.

This handbook has been prepared as a guidance tool for employers, to generate awareness and enable them to implement risk mitigation measures at their workplace, in order to provide a safe and healthy environment for their employees. Currently, there are many gaps in our understanding of the pandemic and there is an urgent need to develop safe and effective counter measures to tackle COVID-19 at the community, workplace and society level. This handbook has been designed to help businesses respond to COVID-19 and to help in their preparedness for the post Lockdown scenario, with the best available information available currently. This initiative was led by Dr Preeti Kumar, VP, PHFI</p>
    </div>
   
    
  </div>
</div>
<h4 class="alert-heading">An E-Book for young children on COVID-19</h4><hr>
<div class="container">
  <div class="row">
       <div class="col">
      <img src ="https://phfi.org/wp-content/uploads/2020/04/ebook-young-children-COVID-19.jpg" height="470px" width="570px">
    </div>
    <div class="col">
     <p>The novel Coronavirus is changing the way we interact in our daily lives. We can stay healthy and prevent the virus from entering our homes and protecting our families by following a few simple steps and practices.

The book on Coronavirus for children has been conceptualised and designed keeping in mind the nuances of the Indian context and to empower children with simple practical information so they are our “ambassadors for good health”.<
The Pictorial Guide on Biomedical Waste Management (BMWM) Rules, 2016 (amended in 2018 & 2019) is a product of joint research by the Centre for Chronic Disease Control (CCDC), Centre for Environmental Health (CEH) −Public Health Foundation of India (PHFI) and Health Care Without Harm (HCWH). The guide is a compilation of important strategies that are key to appropriate management of biomedical waste in India. The pictorial guide provides a quick, user-friendly view of the important elements of biomedical waste handling, treatment and disposal through its illustrative components. These are based on the specifications provided in the BMWM Rules, 2016 and its subsequent amendments. Importantly, the guide also includes the provisions for COVID-19 waste management as prescribed in the Central Pollution Control Board Guidelines 2020.</p>   </div>
   
    
  </div>
</div><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <h4 class="alert-heading">About Resources</h4><hr>
<p>
  1. <b> Are you official?</b><br>
No.<br>
<b>What are your sources? How is the data gathered for this project?</b><br>
We are using state bulletins and official handles to update our numbers. The data is validated by a group of volunteers and published into a Google sheet and an API. API is available for all at api.covid19india.org. We would love it if you can use this data in the fight against this virus. The source list is here.<br>
2.<b>Why does covid19india.org have difference in numbers compared to MOHFW website?</b><br>
MoHFW updates the data at a scheduled time. However, we update them based on state press bulletins, official (CM, Health M) handles, PBI, Press Trust of India, ANI reports. These are generally more recent.<br>
3.<b>Where can I find the data for this?</b><br>
All the data is available through an API for further analysis and development here : api.covid19india.org<br>
4.<b>
Who are you?</b><br>
We are a group of dedicated volunteers who curate and verify the data coming from several sources. We extract the details, like a patient's relationship with other patients to identify local and community transmissions, travel history and status. We never collect or expose any personally identifiable data regarding the patients.<br>
5.<b>Why are you guys putting in time and resources to do this while not gaining a single penny from it?</b><br>
Because it affects all of us. Today it's someone else who is getting infected; tomorrow it could be us. We need to prevent the spread of this virus. We need to document the data so that people with knowledge can use this data to make informed decisions.<br>
</p><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 {{!-- <h4 class="alert-heading">Health and Safety Measures for Police Personnel on COVID-19</h4><hr>
 <div class="container">
  <div class="row">
       <div class="col">
      <img src ="https://phfi.org/wp-content/uploads/2020/06/Training-Manual-COVID-19_BPSPA.jpg " height="470px" width="570px">
    </div>
    <div class="col">
     <p>The document is prepared by the Training Division of Public Health Foundation of India (PHFI) for Biju Patnaik State Police Academy, Bhubaneswar, Odisha which outlines the hazards associated with policing duty, the risks involved and the risk mitigation measures that should be followed to protect police personnel against COVID- 19.

This document has been prepared with the information collected and collated from various guidelines issued by national and international agencies such as World Health Organization (WHO), Ministry of Health and Family Welfare (MoHFW), Ministry of Home Affairs (MHA), Indian Council of Medical Research (ICMR), All India Institute Of Medical Sciences (AIIMS), Centers for Disease Control and Prevention (CDC), Commonwealth Human Rights Initiative (CHRI), International Association of Chiefs of Police (IACP) and from published literature. As with all guidelines, during the COVID Pandemic, this also has to be considered a dynamic one and may need changes as per the behavior of the pandemic, health care and law enforcement resources and governmental notifications.Public Health Foundation of India (PHFI) with Global Insurance Brokers Private Limited, has come out with a ‘Health and Safety Handbook for the Workplace – An employer’s guide for post-lockdown operations in non-healthcare settings’.

This handbook has been prepared as a guidance tool for employers, to generate awareness and enable them to implement risk mitigation measures at their workplace, in order to provide a safe and healthy environment for their employees. Currently, there are many gaps in our understanding of the pandemic and there is an urgent need to develop safe and effective counter measures to tackle COVID-19 at the community, workplace and society level. This handbook has been designed to help businesses respond to COVID-19 and to help in their preparedness for the post Lockdown scenario, with the best available information available currently. This initiative was led by Dr Preeti Kumar, VP, PHFI</p>
    </div>
   
    
  </div>
</div>
<h4 class="alert-heading">An E-Book for young children on COVID-19</h4><hr>
<div class="container">
  <div class="row">
       <div class="col">
      <img src ="https://phfi.org/wp-content/uploads/2020/04/ebook-young-children-COVID-19.jpg" height="470px" width="570px">
    </div>
    <div class="col">
     <p>The novel Coronavirus is changing the way we interact in our daily lives. We can stay healthy and prevent the virus from entering our homes and protecting our families by following a few simple steps and practices.

The book on Coronavirus for children has been conceptualised and designed keeping in mind the nuances of the Indian context and to empower children with simple practical information so they are our “ambassadors for good health”.<
The Pictorial Guide on Biomedical Waste Management (BMWM) Rules, 2016 (amended in 2018 & 2019) is a product of joint research by the Centre for Chronic Disease Control (CCDC), Centre for Environmental Health (CEH) −Public Health Foundation of India (PHFI) and Health Care Without Harm (HCWH). The guide is a compilation of important strategies that are key to appropriate management of biomedical waste in India. The pictorial guide provides a quick, user-friendly view of the important elements of biomedical waste handling, treatment and disposal through its illustrative components. These are based on the specifications provided in the BMWM Rules, 2016 and its subsequent amendments. Importantly, the guide also includes the provisions for COVID-19 waste management as prescribed in the Central Pollution Control Board Guidelines 2020.</p>   </div>
   
    
  </div>
</div> --}}
</div>
</body>
</html>